[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
flask = "*"
redis = "*"
newspaper3k = "*"
nltk = "*"
psycopg2 = "*"
sqlalchemy = "*"
flask-sqlalchemy = "*"

[requires]
python_version = "3.8"
