@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

html, body {
    font-family: 'Montserrat', sans-serif;
}

.header {
    text-align: center;
    font-size: 30px;
    margin-top: 50px;
}

.subheader {
    text-align: center;
    margin-top: 25px;
}

.container {
    position: absolute;
    top: 0;
    bottom: 0;
	left: 0;
	right: 0;
    margin: auto;
    max-width: 1024px;
}

.url_input {
    font-family: 'Montserrat', sans-serif;
    display: block;
    margin: auto;
    height: 30px;
    margin-top: 150px;
    margin-bottom: 25px;
    width: 50%;
    border-style: solid;
    border-color: lightgray;
    border-radius: 20px;
    outline: none;
}

.url_submit{
    font-family: 'Montserrat', sans-serif;
    display: block;
    margin: auto;
    padding: 15px 30px 15px 30px;
    cursor: pointer;
    border-style: solid;
    border-color: #2b87ff;
    background-color: #2b87ff;
    color: white;
    border-radius: 20px;
}

.error {
    text-align: center;
}

.return {
    font-family: 'Montserrat', sans-serif;
    padding: 15px 30px 15px 30px;
    cursor: pointer;
    border-style: solid;
    border-color: #2b87ff;
    background-color: #2b87ff;
    color: white;
    border-radius: 20px;
}

.result_header {
    position: relative;
}

.title {
    text-align: center;
}

.return.inline {
    position: absolute;
    right: 10px;
    top: 0;
}

.sentiment {
    position: relative;
    text-align: center;
    font-size: 30px;
    margin-top: 50px;
}

.sections {
    font-size: 20px;
    margin-top: 50px;
    margin-bottom: 10px;
}