<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="{{ url_for('static', filename='css/style.css')}}" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="{{ url_for('static', filename='js/script.js')}}" type="text/javascript"></script>
    <title>News Analytics - Homepage</title>
</head>

<body>
    <div class="header">News Analytics</div>
    <div class="subheader">
        Enter a url for a news article and News Analytics will perform text summarization and fact check the content using Machine Learning.
    </div>
    <div class="subheader">
        News Analytics also displays data visualizations of word frequencies in the article.
    </div>
    <form action="{{ url_for('results') }}">
        <input class="url_input" name='url'>
        <input class="url_submit" type='submit' value='Submit'>
    </form>
</body>

</html>